@import './variables';

.card__tip-values-wrap {
  .card__input-label {
    font-size: 1rem;
    color: $Dark-grayish-cyan1;
    font-weight: 700;
  }
  .card__input-tip-wrap {
    display: grid;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1em;
    font-size: 1rem;
    color: $Dark-grayish-cyan1;
    font-weight: 700;

    margin-top: 0.25em;
  }
}
@media (min-width: 50em) {
  .card__tip-values-wrap .card__input-tip-wrap {
    grid: repeat(2, 1fr) / repeat(3, 1fr);
  }
}
